<div class="content-heading">Übersicht
  <small></small>
</div>
<div class="row">
  <div class="col-lg-9">
    <div class="form-group mb-xl">
      <label class="control-label mb">Freitext</label>
      <br />
      <input class="form-control mb" type="text" [(ngModel)]="filterText" placeholder="Filter"/>
      <div class="clearfix">
        <div class="pull-right">

        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="form-group mb-xl">
      <label class="control-label mb">Kategorie</label>
      <br/>
      <div *ngIf="categories.length > 0">
        <ng-select [allowClear]="true" [items]="categories" (data)="refreshValue($event)" placeholder="Kategorie filtern"></ng-select>
      </div>
    </div>

  </div>

  <div class="col-lg-9">
    <!-- START panel-->
    <div class="panel panel-default">
      <div class="panel-heading">Suchergebnisse
      </div>
      <!-- START table-responsive-->
      <div class="table-responsive">
        <app-seminar-table  [seminars]="seminars" [filterText]="filterText" [filterCategory]="filterCategory"></app-seminar-table>
      </div>
      <!-- END table-responsive-->

    </div>
    <!-- END panel-->
  </div>

</div>
