<div class="content-heading">{{seminar?.attributes.title}}
  <small>{{seminar?.attributes.shortDescription}}</small>

</div>



<div class="row form-horizontal">
  <div class="col-lg-8">
    <!-- Main panel-->
    <div class="panel b">
      <div class="panel-heading">
        <div class="pull-right mt">
          <div class="label label-danger" *ngIf="seminar?.attributes.canceled">Abgesagt</div>
        </div>
        <h4 class="mv">
          <span>{{seminar?.attributes.title}}</span>
        </h4>
      </div>
      <div class="panel-body bb bt">
        <h4>Beschreibung</h4>
        <p style="white-space: pre-wrap">
          {{seminar?.attributes.description}}
        </p>
      </div>

    </div>

    <div class="panel b">
      <div class="panel-heading">
        <h4 class="mv">
          <span>Details</span>
        </h4>
      </div>

      <fieldset>
        <label class="col-lg-2 control-label">Ort</label>
        <div class="col-lg-10">
          <p class="form-control-static">{{seminar?.attributes.location}}</p>
        </div>
      </fieldset>

      <fieldset>
        <label class="col-lg-2 control-label">Veranstalter</label>
        <div class="col-lg-10">
          <p class="form-control-static">{{seminar?.attributes.organizer?.attributes.displayName}}</p>
        </div>
      </fieldset>

      <fieldset>
        <label class="col-lg-2 control-label">Leitung</label>
        <div class="col-lg-10">
          <p class="form-control-static">{{seminar?.attributes.lead}}</p>
        </div>
      </fieldset>

      <fieldset>
        <label class="col-lg-2 control-label">Zielgruppe</label>
        <div class="col-lg-10">
          <p class="form-control-static">{{seminar?.attributes.targetGroup}}</p>
        </div>
      </fieldset>

    </div>




    <div class="panel b">
      <div class="panel-heading">
        <h4 class="mv">
          <span>Buchung</span>
        </h4>
      </div>

      <fieldset>
        <label class="col-lg-2 control-label">Gebühr pro Platz</label>
        <div class="col-lg-10">
          <p class="form-control-static">{{seminar?.attributes.pricePerSeat}}€</p>
        </div>
      </fieldset>

    </div>


  </div>

  <!-- Right side -->
  <div class="col-lg-4">
    <!-- Aside panel-->

    <!-- START button group-->
    <div class="btn-group mb-sm abs-right " dropdown *ngIf="editable">
      <button class="btn dropdown-toggle btn-primary" type="button" dropdownToggle>
        Aktionen
        <span class="caret"></span>
      </button>
      <ul *dropdownMenu class="dropdown-menu" role="menu">
        <li>
          <a href="#" (click)="doEditEvent()">Bearbeiten</a>
        </li>
        <li>
          <a href="#" (click)="doCanelEvent()">Absagen</a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#" (click)="doDeleteEvent()">Löschen</a>
        </li>
      </ul>
    </div>
    <!-- END button group-->

    <div class="panel b panel-transparent">
      <table class="table bb">
        <tbody>
        <tr>
          <td><img class="img-responsive block-center" src="{{seminar?.attributes.image}}" alt="" /></td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="panel b">
      <table class="table bb">


        <div class="panel-body">
          <ul class="list-inline mv">
            <li>
              <div class="badge p-sm bg-warning">{{seminar?.attributes.category?.attributes.name}}</div>
            </li>
          </ul>
        </div>

        <tbody>
        <tr>
          <td>
            <strong>Start</strong>
          </td>
          <td>{{seminar?.attributes.start | date: 'dd.MM.yyyy H:mm' }}</td>
        </tr>
        <tr>
          <td>
            <strong>Ende</strong>
          </td>
          <td>{{seminar?.attributes.end | date: 'dd.MM.yyyy H:mm' }}</td>
        </tr>
        <tr>
          <td>
            <strong>Teilnehmer</strong>
          </td>
          <td>{{seminar?.attributes.seatsOccupied}} / {{seminar?.attributes.seats}}</td>
        </tr>

        <tr>
          <td>
            <strong>Preis / Person</strong>
          </td>
          <td>{{seminar?.attributes.pricePerPerson}}</td>
        </tr>
        <tr>
          <td>
            <strong>Anmeldeschluss</strong>
          </td>
          <td>{{seminar?.attributes.registrationEnd | date: 'dd.MM.yyyy H:mm' }}</td>
        </tr>

      </table>
    </div>

    <div class="panel b">
      <table class="table bb">
        <button class="btn btn-square btn-success btn-block btn-lg" type="button" (click)="doStartBooking()">Buchen</button>
      </table>
    </div>

  </div>
</div>
