<table class="table table-striped table-bordered table-hover">
  <thead>
  <tr>
    <th checkAll>
      <div class="checkbox c-checkbox" tooltip="Check All">
        <label>
          <input type="checkbox" />
          <span class="fa fa-check"></span>
        </label>
      </div>
    </th>
    <th>Description</th>
    <th>
      Plätze
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let seminar of seminars | seminarFilter:filterText | categoryFilter:filterCategory"  [routerLink]="['/seminars/details', seminar?.id]" >
    <td>
      <div class="checkbox c-checkbox">
        <label>
          <input type="checkbox" />
          <span class="fa fa-check"></span>
        </label>
      </div>
    </td>
    <td>
      <div class="media-box">
        <span>{{seminar?.attributes.start | date: 'dd.MM.yyyy H:mm' }} - {{seminar?.attributes.end | date: 'dd.MM.yyyy H:mm' }}</span>
        <div class="pull-right badge p-sm bg-warning">{{seminar?.attributes.category?.attributes.name}}</div>
        <a class="pull-left" href="#">
          <img class="media-box-object img-responsive img-rounded thumb64" src="{{seminar?.attributes.image}}" alt="" />
        </a>
        <div class="media-box-body">

          <h4 class="media-box-heading">{{seminar?.attributes.title}}</h4>
          <small class="text-muted">{{seminar?.attributes.location}}</small>
          <p>{{seminar?.attributes.shortDescription}}</p>
        </div>
      </div>
    </td>
    <td>
      <div class="panel-body text-center">
        <div class="easypie-chart" easypiechart [options]="pieOptions3" [percent]="easyPiePercent3">
          <span>{{easyPiePercent3}}</span>
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</table>



<!--

<div class="panel-heading">
  <div class="row">
    <div class="col-lg-5">
      <div class="input-group">
        <input class="input-sm form-control" type="text" [(ngModel)]="filterText" placeholder="Filter" />
      </div>
    </div>
  </div>

</div>
<div class="panel-body">

  <div class="table-responsive">

    <table class="table table-striped table-bordered table-hover" >
      <thead>
      <tr>
        <th>Kategorie</th>
        <th>Beschreibung</th>
        <th>Buchung</th>
      </tr>
      </thead>

      <tbody>
          <tr *ngFor="let e of seminars | seminarFilter:filterText">
            <td>
              bild
            </td>
            <td [routerLink]="['/seminars/details', e.id]">
              <span>{{e.attributes.start | date: 'dd.MM.yyyy H:mm' }} - {{e.get("end") | date: 'dd.MM.yyyy H:mm' }}</span>
              <div class="pull-right badge baed-info">{{e.attributes.category?.attributes.name}}</div>
              <h4 >
                {{e.attributes.title}}
              </h4>
              <p>{{e.attributes.shortDescription}}</p>

            </td>
            <td>
              <div class="label label-danger">Nicht möglich</div>
            </td>
          </tr>
      </tbody>
    </table>
  </div>
</div>
-->
